<h3>{{viewTitle}}</h3>

<style>
    body{
        padding-left: 200px;
        padding-right: 200px;
    }
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .form-group{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    a{
        margin: 2px;
    }
    h1{
        margin-bottom: 60px;
    }
</style>
<body>  
    <div class="conteudo">
    <h1>Faça upload de sua planilha</h1>
    <form action='/file/upload' method='post' encType="multipart/form-data">
        <input type="file"  name="file" />
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Upload</button>
        <div class = "form-group">
        <a class="btn btn-secondary" href="/payment"><i class="fa fa-plus"></i> Create New</a>
        <a class="btn btn-secondary" href="/payment/list"><i class="fa fa-list-alt"></i> View All</a>
        </div>
    </form>	
    </div>
</body>
