<h3>{{viewTitle}}</h3>


<body>   
    <h1>Faça upload de sua planilha</h1>
    <form action='/file/upload' method='post' encType="multipart/form-data">
        <input type="file" name="file" />
        <input type='submit' value='Upload!' />
    </form>	
</body>
